/* Add here all your CSS customizations */
#revolutionSlider > ul > li > div.slotholder > div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../img/slides/slide-bg-full-4-dark.jpg") !important;
}

.list-inline {
  color: #ffffff;
}

.header-body {
  background: #ffffff !important;
}

.header-body a {
  color: black !important;
}

#header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
  background: #d2322d;
  color: #ffffff;
}

ul.plan-regular-list li {
  padding: 3px 0;
  border-top: none;
  list-style-position: inside;
  list-style-type: circle;
  text-align: left;
}

.pricing-table .plan-ribbon.ribbon-optional {
  background-image: -webkit-linear-gradient(top, #acc4ef, #80a5e6,);
  background-image: linear-gradient(to bottom, #acc4ef, #80a5e6);
  background-color: #80a5e6;
}




#footer {
  margin-top:0;
  padding-top: 0;

}

.contact p {
  color:#fff;
}

#mainNav > li:hover a {
  color: #ffffff !important;
}
